@charset "utf-8";
.inicio{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
    background-color: rgb(211, 206, 206);
    padding: 10px;
}
.inicio a{
    text-decoration: none;
    background-color: #fff;
    color: #000;
    width: 80px;
    display: flex;
    justify-content: center;
}